name: moodmap
description: "A Flutter mood journaling app with color-based emotion tracking. Write daily entries, associate moods with colors, and visualize your emotional journey through monthly gradients. Features Spotify integration, Firebase sync, and local storage."
publish_to: 'none'
version: 0.2.5

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^4.2.1
  shared_preferences: ^2.5.4
  flutter_dotenv: ^6.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
        - asset: assets/fonts/Poppins-Bold.ttf
    - family: Pacifico
      fonts:
        - asset: assets/fonts/Pacifico-Regular.ttf  
